.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .profile {
    width: 70px;
    border-radius: 50%;
}


@media (max-width:720px) {
    .navbar .profile {
        width: 47px;
        
    }
}